.icon {
    filter: invert(0%);
    height: 30px;
    width: 30px;
}

.iconActive {
    filter: invert(100%);
    height: 30px;
    width: 30px;
}

.drawerActive {
    display: flex;
    background: #058B8C;
    height: 100%;
    width: 60%;
}

.drawerInactive {
    display:none
}

li a {
    text-decoration: none;
    color: white;
    font-family: 'Cabin', sans-serif;
    font-size: 36;
}

li {
    padding: 14px;
}